// Variables
$color-white: #ffffff;
$color-blue-jeans: #35b4ff;
$color-true-blue: #0466c8;
$color-oxford-blue: #070e2b;
$color-rich-black: #02071a;

$font-main: "ClashDisplay-Variable", sans-serif;
$font-secondary: "Poppins", sans-serif;

$padding-vertical: 14%;

// Main Style
body {
	height: 100vh;
	position: relative;
	overflow-x: hidden;

	background: linear-gradient(330deg, rgba(2,7,26,1) 0%, rgba(7,14,43,1) 100%);

	font-family: $font-main;
	color: $color-white;
}

*:focus {
	outline: 1px solid $color-blue-jeans;
}

a {
	text-decoration: none;
	color: inherit;
}

// Navbar
.navbar {
	width: 100%;
	top: 0;
	left: 0;
	padding: 20px $padding-vertical;
	position: fixed;
	z-index: 100;

	display: flex;
	align-items: center;
	justify-content: center;

	.navbar__brand {
		font-size: 2rem;
		text-transform: uppercase;
		font-weight: 700;
		letter-spacing: 2px;

		transition: text-shadow 0.3s;

		&:hover {
			text-shadow: 0px 2px 0px $color-blue-jeans;
		}
	}
}

// Planet Carousel
.planets__carousel {
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	overflow: hidden;
	position: fixed;

	.planet {
		width: 100%;
		height: 100vh;
		position: relative;
		font-size: 5rem;
		display: flex;
		align-items: center;
		justify-content: center;

		canvas {
			position: absolute;
			top: 0;
			left: 0;
		}

		.planet__body {
			position: absolute;
			bottom: 0;
		}
	}
}


// Imports
@import 'carousel.scss';